

<body>


    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>Walls-Social Injustice is a website that deals with various forms of social injustice. This is a site that is meant to support people are suffering from today due to social injustices such as racism, feminism, and more. The site’s mission is to make sure people with the same social injustice  interests (can filtered based on community, state, or even country) can express concerns without the fear of being insulted or derogated-the wall can only be opened to the public with user permission. This website is also meant to provide resources for the benefit of anyone, not just those suffering from social injustice:  links, primary sources, videos, and even public opinion on the social injustice the user is focused on. The user, when signing up, chooses without binding a social injustice they want to focus on, makes a wall page/forum that allows the user to get other people’s opinions on the topic, get a page of general resources, and  a communities page that has resources about organizations and events in user’s state.
This a safe website where we encourage people to share their fears, questions, and anything else that would give them comfort. We hope that people from all over the world can use this site to comfort them and reassure them in this harsh world.  
</p>
<h2>Our Highlights</h2>
<p2>People can use our site to find resources on different organizations that they can find in their state or nearby. There are also current events that can help users be updated on what is going on with the social injustice they are researching or are interested in because they are negatively impacted by it. People can do this with leisure and do not have to go through google to find reliable sources. Also, the site will continue to change its news feeds so that they are as current as possible.
</p2>
</div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Alton Stovall
                    <small>Head Manager</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Charity Midenyo
                    <small>Head Programmer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Wonhee Han
                    <small>Content Manager</small>
                </h3>
                <img src="http://projectgreenschools.org/wp/wp-content/uploads/2016/01/andoverhighschoolWonhee.png"/>
                <p>He is an aspiring student from Andover, MA, and he has worked very passionately for this mission. He has been responsible for all the research and the resources that were critical to the making of the project. He has been active in the HTML and CSS part of this website.</p></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Alejandra Salazar
                    <small>Designer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Natalie Melo
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Anthony Vigil
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>

        <hr>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>