<div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Resources
                    <small>Organizations</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    
                     <img src="http://c7.nrostatic.com/sites/default/files/uploaded/black-lives-matter-lol1.jpg"/>
                </a>
            </div>
            <div class="col-md-5">
                <h3>#BlackLivesMatter</h3>
                <h4>Who Are They</h4>
                <p>-A big organization that exists to protect the rights and culture of African Americans.  It deals with social injustice events such as the Dallas shooting, Louisiana shooting, and more while creating a social protection and security for the African American people in the United States. It is also meant to provide dignity and support for African Americans in the midst of the many forms of injustice happening to African Americans throughout the country. There are social events that are both political and cultural in many different areas in the UNITED STATES. Examples currently include the Cambridge area in Massachusetts.</p>
                
                <a class="btn btn-primary" href="http://blacklivesmatter.com/"/>Click Here</a><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                   
                     <img src="http://www.refweb.org.uk/images/logo.jpg"/>
                </a>
            </div>
            <div class="col-md-5">
                <h3>Safe Harbors Project</h3>
                <h4>Who Are We</h4>
                <p>It is a program that reaches out to people who are included in the LGBTQ cluster and their families. The program provides mentoring to the LGBTQ children, resources, and other organizations that the students can get to but never knew of. They also have “alumni” who can provide assistance to those in need and provide a safe atmosphere for all these LGBTQ children </p>
                <a href="http://www.ourtruecolors.org/safeharbor/home.htm"/></a>
                
<a class="btn btn-primary" href="http://www.ct.gov/shp/site/default.asp">Click Here<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    
                    <img src="http://www.blackpast.org/files/blackpast_images/NUL-_Logo-large.png"/>
                </a>
            </div>
            <div class="col-md-5">
                <h3>National Urban League</h3>
                <h4>Who We Are</h4>
                <p>National Urban League
This is an organization that is meant to fight against social injustice against African Americans. It is now working to protect(physically and politically) African Americans negatively impacted by what they call “police misconduct” and other currently unjust offenses. It also provides rallies and news about current events that have been going around that refers to social injustice. The highlight is that National Urban League website provides information about where their organizations and rallies are in each state.
</p>

                
                <a class="btn btn-primary" href="http://nul.iamempowered.com/">Click Here</a><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                <a href="#">
                    
                   <img src="http://65.media.tumblr.com/e1bd6c7d6d4906778d6e96589b17861d/tumblr_nqde8vJ18B1sx1e99o1_1280.jpg"/>
                </a>
            </div>
            <div class="col-md-5">
                <h3>Rainbow Push</h3></h3>
                <h4>Who We Are</h4>
                <p>This is for people of all colors-resources for education and resources against social injustice that many people of color have to face. More details on that on the website.
http
                <a class="btn btn-primary" href="http://www.rainbowpush.org">Click Here</a><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                   
                    <img src="http://lulac.org/images/80thanniversary.png"/>
                </a>
            </div>
            <div class="col-md-5">
                <h3>LULAC</h3>
                <h4>Who We Are</h4>
                <p>LULAC
League of United Latin American Citizens is a program/organization with a history and continues to act to end Latin American discrimination in the United States. It provides resources about injustice and there are smaller organizations in each state working to make their mission to end discrimination in the country. It is also meant to provide fiscal resources to low income Latinos in terms of money or access to different jobs or career . Go to the website on more information for what is happening with affiliated organizations in your state.
Smaller organizations even include student led clubs at their own schools.


Fun Fact: Oldest organization
</p>
                <a class="btn btn-primary" href="http://lulac.org">Click Here</a><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>