    <link type="text/css" rel="stylesheet" href="wall.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body background="http://www.easyfreepatterns.com/patterns/0/free-gray-and-white-mini-grid-seamless-tileable-background-pattern--929.gif">

    <div class="brand">WELCOME TO YOUR WALL</div>
    <div class="address-bar"></div>

    
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="http://www.nytimes.com/video/us/100000004528049/alton-sterlings-son-calls-for-unity.html">
                                <img class="img-responsive img-full" src="http://a.abcnews.com/images/US/GTY_dallas_police_shootings_protest_2_jt_160710_12x5_1600.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="http://www.huffingtonpost.com/entry/black-lives-matter-rio-brazil-olympics_us_5786f996e4b08608d332f81f">
                                <img class="img-responsive img-full" src="http://img.huffingtonpost.com/asset/scalefit_970_noupscale/57870a1b1a00002700dd1455.jpeg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="http://www.washingtonpost.com/news/arts-and-entertainment/wp/2016/07/13/the-most-powerful-art-from-the-blacklivesmatter-movement-three-years-in/">
                                <img class="img-responsive img-full" src="http://www.theaesthete.com/wp-content/uploads/2015/02/black-lives-matter-hero-1440x738.jpg" alt=""></a>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"><i class="material-icons">forum</i></i> Forums</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Click Here</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"><i class="material-icons">view_headline</i></i> News</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"><i class="material-icons">language</i></i> Social Media</h4>
                    </div>
                    <div class="panel-body">
                        <a class="twitter-timeline" href="https://twitter.com/Blklivesmatter">Tweets by Blklivesmatter</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
